#about {
  text-align: center;
  position: relative;
  height: 90vh; 
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;    
  margin-top: 0px;        
  font-weight: bolder;
  font-family: 'Times New Roman', Times, serif;
  width: 100vw;    
 
}


#aboutHeading {
  font-size: 30px;
  opacity: 0.8;    
}


#aboutParagraph {
  font-size: 20px;    
  padding: 8px 24px;
  font-weight:bolder;
  margin: 0 20px;  
  color:white;       
}


#about:before {
  content: "";
  /*background-image: url("./images/energy.jpg");*/
  position: absolute;
  background-size: 100% 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
      
}

@media screen and (max-width: 800px) {

  #about {
      margin-top: 0px;
  }

  #aboutHeading {
      font-size: 18px;
         
  }
  
  
  #aboutParagraph {
      font-size: 12px;    
      padding: 8px 16px;
      font-weight:bolder;
      margin: 10px 10px;  
           
  }
  
}
