.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  height: 10vh;
  width: 100vw;
  background: linear-gradient(to left, rgb(131, 130, 130) , rgb(100, 99, 99), rgb(188, 188, 245));
  margin-bottom: -1.5vh;
}


.footer p {
  font-size: 2.5vh;
  font-weight: bold;
  padding-bottom: 2vh;
  padding-left: 2vw; 
  padding-right: 2vw;
  color: #fff;       
}

