#parallax {
  display: flex;
  align-items: center;
  justify-content: center;       
  width: 100vw;
  height: 100vh;     
  position: relative; 
  overflow: hidden; 
  background-attachment: fixed;
  background-size:  100% 100%; 
  padding: 0;
}


#parallax h1 {  
  font-size: 2rem;
  line-height: 0.8em;
  font: bolder;
  padding: 10px;  
  margin: 0;
  color: #fff;
  
}


