
#services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80vh;
  width: 100vw;    
  background: linear-gradient(to bottom, rgb(202, 202, 202) , rgb(100, 99, 99), rgb(188, 188, 245));
  color: white;
}

#services h1 {
  font-size: 7vh;
  font-weight: bold;
  text-decoration: underline;

}


#services h3 {
  font-size: 3.5vh;
  font-weight: bolder;
  margin: 0 0;
  padding: 1.5vh 1.5vw;
    
        
}

